@@ LICENCE @@
@@ AUTHOR @@

namespace Fujin@@ NAMESPACE @@;

use Fujin\FujinDynamicObject;

class @@ NAME @@ extends FujinDynamicObject
{
    const FDO_NAME          = "@@ NAME @@";
    const FDO_VERSION       = "@@ VER @@";

    private bool $verbosity = false;

    protected function init() : void {

    }
}